<div class="hero px-0 d-flex justify-content-center align-items-center" style="position: relative;">
    <img id="circuit-lines" src="/img/hero-circuit-lines.svg" alt="" class="position-absolute w-100 h-100" style="object-fit: cover; z-index: 0; opacity: .2;">
    <div class="hero-content p-4 text-white border border-1 border-white rounded-4" style="position: relative; z-index: 1;">
        <h1 class="fw-bold">Association for Computing Machinery</h1>
        <p>Student Chapter at Texas A&M University-San Antonio</p>
    </div>
</div>