<div class="team">
  <div class="members">
    <% teamMember.forEach(function(member) { %>
      <div class="member">
        <div class="member-img-container">
          <img src="img/Jaguar-Head-2-Color-Grey.png" alt="">
        </div>
        <div class="member-content">
          <h2><%= member.name %></h2>
            <p><%= member.role %></p>
          <div class="member-button">
            <a href="mailto:<%= member.email %>"><%= member.email %></a><br>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
