<div class="hero">
    <div class="hero-content">
        <h1>Association for Computing Machinery</h1>
        <p>at TAMUSA</p>
    </div>
</div>

<!-- About ACM -->
<%- include('partials/homeAbout') %>
<br>

<!-- Grid -->
<%- include('partials/homeGrid') %>
<br>

<!-- Sub organizations -->
 <%- include('partials/homeSuborg') %>
<br>

<%- include('partials/homeResources') %>

<br>