<div class="team-title">
        <h1>ACM TAMUSA Officers </h1>
    </div>

    <%- include('partials/teamBody') %>
    
    <div class="rights">
        <p>Designed and created by <b>Liliana Martinez</b></p>
    </div>