@import url("nav.css");
@import url("about.css");
@import url("grid.css");
@import url("suborgs.css");
@import url("resource.css");
@import url("footer.css");
@import url("team.css");
@import url("news.css");
@import url("calendar.overrides.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");
body {
  font-family: "Red Hat Display", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: "Poppins", sans-serif !important;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

b {
  color: #74ccff;
}

li {
  color: #fff;
}

.hero {
  height: 600px;
  margin: 0 auto;
  padding-left: 1rem;
  background: linear-gradient(0deg, #363c4d 0%, rgba(43, 35, 35, 0.716) 100%),
    url("../img/hack-utd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  backdrop-filter: blur(5px);
  max-width: 90%;
}

.useful-links a {
  margin-left: 0.25rem;
  margin: 0.25rem;
}

.resource-links a {
  margin-left: 0.25rem;
  margin: 0.25rem;
}

.bg-dark {
  background-color: #2b2323 !important;
}

/* Buttons */
.btn {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: 325px;
  margin: 0.5rem;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #40a0ff !important;
  border: solid 1px #40a0ff !important;
  border-radius: 5px;
  font-weight: 700;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent !important;
  border: solid 1px #40a0ff !important;
  color: #00a2ff;
  transform: scale(1.02);
}

.btn-outline {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: 325px;
  margin: 0.5rem;
  padding: 1rem 2rem;
  background-color: transparent;
  border: solid 1px #40a0ff !important;
  border-radius: 5px;
  font-weight: 700;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.btn-outline:hover {
  background-color: #40a0ff !important;
  border: solid 1px #40a0ff !important;
  color: #fff;
  transform: scale(1.02);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 545px) {
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 350px) {
  .btn {
    width: 300px;
  }
}
